h2 Créer un événement
form(method="post" action="/party")
  div
    label(for="name") Nom de l'événement
    input(name="name" id="name" required minlength="3" placeholder="Mon anniversaire")
    label(for="author") Votre nom/pseudo
    input(name="author" id="author" required minlength="3" placeholder="Georges Duroy")
    label(for="author") Date de l'événement
    input(type="date" name="date" id="date" placeholder="01/01/2001")
  button(type="submit") Créer