@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 8px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 20px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

input, textarea, label {
  display: block;
  margin: 10px 0;
}

button[type=submit] {
  margin-top: 20px;
}